{% load static %}
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Finger+Paint&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'blog/css/main.css'  %}">
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap4.3.1.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap4.3.1.css' %}">
	<script src="{% static 'blog/js/jquery.min.js' %}"></script>
	<script src="{% static 'blog/js/iziToast.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'blog/css/iziToast.min.css' %}">
	<style>
		.info-red {
			color: #ad3535;
		}

		a {
			color: #29487d;
		}
	</style>


</head>

<body id="newbody" style="background-color: #e9ebee;" onload="loader()">
	<div id="loader" class="card-img-overlay"></div>

	<div id="myDiv" style="display: none;">
		{% comment %} <div class="se-pre-con" style="display:none"></div> {% endcomment %}
		<nav class="navbar navbar-expand-sm navbar-dark p-0 pl-2" style="background-color: #29487d;">
			<a class="navbar-brand" href="{% url 'blog-home' %}">
				<strong>
					<div class="pr-2 m-0" style=" border:solid white 1px;">
						<div class="m-0 p-1" style="background:white;color:#29487d; display: inline-block;" class="p-1">
							mini
						</div>
						facebook
					</div>
				</strong>
			</a>
			<button class="navbar-toggler d-lg-none " type="button" data-toggle="collapse"
				data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse mr-5" id="collapsibleNavId">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-right" style="margin-left:90%;">
					<li id="blog-login" class="nav-item">
						<a class="nav-link" href="{% url 'blog-login_form' %}"> Login</a>
					</li>
					<li id="blog-register" class="nav-item dropdown">
						<a class="nav-link" href="{% url 'blog-register_form' %}"> Singup</a>
					</li>
				</ul>
				<!-- <form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
			</form> -->
			</div>
		</nav>
		<br>

		<main role="main" class="container">
			<div class="row">
				<div class="col-md-8" id="mainbody">
					{% block containt %}
					{% endblock containt %}
				</div>
				<!-- <div class="col-md-4">
				<div class="content-section">
					<h3>Our Sidebar</h3>
					<p class='text-muted'>You can put any information here you'd like.
						<ul class="list-group">
							<li class="list-group-item list-group-item-light">Latest Posts</li>
							<li class="list-group-item list-group-item-light">Announcements</li>
							<li class="list-group-item list-group-item-light">Calendars</li>
							<li class="list-group-item list-group-item-light">etc</li>
						</ul>
					</p>
				</div>
			</div> -->
			</div>
		</main>
		<script>
			function login() {
				// alert(id);
				console.log("here is the  login")
				$.ajax({
					type: 'GET',
					url: "{% url 'blog-login_form' %}",
					// data: { notes_id: id },
					success: function (data) {
						// alert(data);
						$("#mainbody").html(data)
					}
				});
			}

			function register() {
				// alert(id);
				console.log("here is the  register")
				$.ajax({
					type: 'GET',
					url: "{% url 'blog-register_form' %}",
					// data: { notes_id: id },
					success: function (data) {
						// alert(data);
						$("#mainbody").html(data)
					}
				});
			}
		</script>
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		{% comment %}
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script> {% endcomment %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
		<script>
			function loader() {
				myVar = setTimeout(showPage, 600);
			}
			function showPage() {
				$("#loader").hide();
				$("#myDiv").show();
			}
		</script>
	</div>
</body>

</html>