{%if userdata%}

{% for item  in userdata  %}
<div id="mydiv_{{item.id}}" class="content-section " style="background-color: aliceblue;">
    <div class="row" style="matgin-top:auto">
        <div class="col-sm-8">
            <!-- <div class="media"> -->

            <div class="media-body">
                <h6 class="account-heading"><a href="" onclick="userprofile({{item.id}})"
                        style="font-size:16px">{{ item.name }}</a></h6>
            </div>
            <!-- </div> -->
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <button class="btn btn-outline-info" onclick="accepted({{item.id}})">Accept</button>
                <button class="btn btn-outline-warning" onclick="reject({{item.id}})">Reject</button>
            </div>
        </div>
    </div>
    {% endfor  %}
    {% else  %}

    <div class="alert alert-warning"> NO request found</div>

    {% endif  %}