{% load static %}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'blog/css/main.css'  %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap4.3.1.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/iziToast.min.css' %}">
    <script src="{% static 'blog/js/ajax.js' %}"></script>
    <script src="{% static 'blog/js/iziToast.min.js' %}"></script>
    <!-- cdn for toasts -->

</head>
{% for item  in LB  %}

<div class="row" style="matgin-top:auto">
    <div class="col-sm-8">
        <div class="media-body">
            <div class="media">
                {% if item.liked_by.image %}
                <img class="rounded-circle" src="{{ item.liked_by.image.url }}" style="width: 50px;height: 50px;">
                {% else %}
                <img class="rounded-circle" src="{% static 'blog/media/pc.jpg' %}" style="width: 50px;height: 50px;">
                {% endif %}
                <a class="ml-3 mt-2" href="{% url 'blog-userprofile' item.liked_by.name item.liked_by.id %}"
                    style="font-size: 1.5rem;">
                    {{ item.liked_by.name}}
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-1 text-center">
        {% if item.liked_by.id == request.session.userid %}
        {% else %}
        {% if item.liked_by.id in connected %}
        {% if item.liked_by.id in friendarr %}
        {% comment %} {{ item.id}} {% endcomment %}
        <a href="" class="btn btn-outline-primary" onclick="unfriend({{item.liked_by.id}})">Unfriend</a>
        {% else %}
        {% if item.liked_by.id in myrequestarr %}
        {% comment %} {{ item.id}} {% endcomment %}
        <a href="" class="btn btn-outline-primary" onclick="cancel_req({{item.liked_by.id}})">Cancel Request</a>
        {% else %}
        {% comment %} {{ item.id}} {% endcomment %}
        <div class="form-group">
            <a href="" class="btn btn-outline-primary" onclick="accepted({{item.liked_by.id}})">Accept</a>
            <a href="" class="btn btn-outline-warning" onclick="reject({{item.liked_by.id}})">Reject</a>
        </div>
        {% endif %}
        {% endif %}
        {% else %}
        {% comment %} {{ item.id}} {% endcomment %}
        <a href="" class="btn btn-outline-primary" onclick="addfriend({{item.liked_by.id}})">Add Friend</a>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endfor  %}

</html>