{% extends 'blog/base.html' %}
{% block containt %}
<div class="content-section">
    {% if  messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor%}
    {% endif %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Set New Password</legend>
    </fieldset>
    <form action="{% url 'blog-newpassword' %}" method="POST" onsubmit="return validate_pass()" name="newpassword">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control numbers_only" name="mobile" id="mobile" aria-describedby="mobHelpId"
                placeholder=" Your Mobile  Number" maxlength="10" value="{{mobile_no}}" hidden>
            <!-- <small id="mobHelpId" class="form-text   " style="color: #ad3535;"></small> -->

            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="**********">
            <small id="passHelpId" class="form-text   " style="color: #ad3535;"></small>

            <label for="password"> Confirm Password</label>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="**********">
            <small id="pass2HelpId" class="form-text   " style="color: #ad3535;"></small>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>
<script>
    function validate_pass() {
        var password = document.forms["newpassword"]["password"].value;
        var password2 = document.forms["newpassword"]["password2"].value;
        var mobile = document.forms["newpassword"]["mobile"].value;
        //alert(mobile);
        if (password == null ||
            password == undefined ||
            password.length == 0) {
            $("#passHelpId").text("Please Enter password")
            // alert("Please Enter password\n");
            return false;
        }

        if (password2 == null ||
            password2 == undefined ||
            password2.length == 0) {
            $("#pass2HelpId").text("Please Confirm password")
            // alert("Please Enter password\n");
            return false;
        }
        if (password2 !== password) {
            $("#passHelpId").text("password mismatch")
            $("#pass2HelpId").text("password mismatch")
            return false;
        }
    }

    $('.numbers_only').keyup(function () {
        if (!this.value.match(/[0-9]/)) {
            // alert(this.value);
            this.value = this.value.replace(/[^0-9]/g, '');
        }
    });

</script>
</div>
{% endblock containt %}