{% extends 'blog/base2.html' %}
{% block base2 %}
{% load static %}
<style>
    #notes {
        width: 250px;
        min-height: 35px;
        overflow-y: hidden;
    }
</style>
<article class="media content-section ">
    <div class="media-body">
        <div class=" row">
            <div class="col-1 mt-1">
                <img class="rounded-circle account-img" src="{{ profile_data.image.url }}"
                    style="width: 60px;height: 60px;">
            </div>
            <div class="col-10 pt-3 ml-4">
                <form action="{% url 'blog-Save_notes' %}" method="POST" onsubmit="return postfeed()"
                    enctype="multipart/form-data" name=feed_form>
                    {% csrf_token %}
                    <textarea name="notes" id="notes" cols="" rows="1"
                        placeholder="What's on your mind , {{ request.session.name }}?"
                        style="border: none;font-size:1.2rem;width:100%"></textarea>

                    <fieldset class="form-group" id="feeds_image" style="display: none;">
                        <input type="file" class="feed_images" name="feed_image" id="feed_image" style="display: none;"
                            class="file btn btn-lg btn-outline-primary " style="width: 100%;" onchange="readURL(this);"
                            hidden>
                        <label for="feed_image" class="btn btn-primary p-0 pl-3 pr-3 mt-1">
                            Upload Image
                        </label>
                        <img id="blah" src="#" alt=" " class="p-0 ml-5" />
                        <button class="btn btn-outline-light p-0 pl-1 pr-1"
                            style=" color:#29487d ;border:solid lightgray 2px;display:none;" id="deleteimagefeed"
                            onclick="resetFile()">Delete</button>
                        <!-- <button class="btn btn-outline-primary" type="submit" onclick="saveimages()">Update</button> -->
                    </fieldset>
                    <div style="width:100%" class="">
                        <button id="postbtn" type="submit " class="btn btn-primary text-left p-0 pl-5 pr-5"
                            style=" display:none;">
                            POST</button>
                        <!-- <button id="postbtn" type="button " class="btn btn-outline-primary text-left p-0 pl-5 pr-5"
                                onclick="PostBlog()" style=" display:none;">
                                POST</button> -->
                        <button id="clearpostbtn" type="button " class="btn btn-outline-light p-0 pl-5 pr-5"
                            onclick="clearpost()"
                            style=" display:none; color:#29487d ;border:solid lightgray 2px">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>
{% if  messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor%}
{% endif %}
{% if data  %}
{% for pi in data  %}
<article class="media content-section">
    <div class="media-body">
        <div class="">
            <div class="media">
                {% if pi.posted_by.image %}
                <img class="rounded-circle mr-2" src="{{ pi.posted_by.image.url }}" style="width: 30px;height: 30px;">
                {% else %}
                <img class="rounded-circle account-img" src="{% static 'blog/media/pc.jpg' %}"
                    style="width:40px;height:40px;">
                {% endif %}
                <div class="media-body mt-1">
                    <a class="mr-2 mb-0 pb-0" href="{% url 'blog-userprofile' pi.posted_by.name pi.posted_by.id %}"
                        style="font-size: 1rem;">
                        {{ pi.posted_by.name}}
                    </a>
                    {% if pi.posted_on.date == today.date %}
                    <span class="text-muted mt-0 pt-0" style="font-size:0.6rem">{{ pi.posted_on|date:"P" }}</span>
                    {% else %}
                    <span class="text-muted mt-0 pt-0" style="font-size:0.6rem">{{ pi.posted_on|date:"j M, Y" }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <p class="article-content ml-5 mb-2">{{ pi.text }}</p>
        {% if pi.image %}
        <div class="mb-1">
            <img src="{{ pi.image.url }}" alt="" style="width: 100%;">

        </div>
        {% endif %}

        <div class="container mt-0 pt-0">
            <div class=" row text-muted mt-0 pt-0">
                <div class="col-sm-6 text-left text-muted mt-0 pt-0">
                    <button type="button" class="btn mr-0 pr-0" data-toggle="modal" data-target="#modelId2"
                        onclick="likedby({{pi.id}})" style="font-size:10px;">
                        <span id="likecount_{{pi.id}}">
                            {% if pi.likes_count != 0 %}

                            {{pi.likes_count}}

                        </span>

                        {% if pi.likes_count > 1 %}
                        Likes
                        {% else %}
                        Like
                        {% endif %}
                        {% endif %}

                    </button>


                    <button class="btn ml-0 pl-0" href="#" style="font-size:10px;" onclick="CommentBy({{pi.id}})">
                        <span id="commentcount_{{pi.id}}">
                            {% if pi.comments_count != 0 %}
                            {{pi.comments_count}}
                        </span>
                        {% if pi.comments_count > 1%}
                        Comments
                        {% else %}
                        Comment
                        {% endif %}
                        {% endif %}

                    </button>
                </div>
                <!-- <div class="col-sm-6 text-right">
                    <button class="btn" href="#" style="font-size:10px;"
                        onclick="CommentBy({{pi.id}})">{{pi.comments_count}} Comment</button>
                </div> -->
            </div>
            <div class=" row text-center">
                <div class="col-6" id="">
                    {% if pi.id in listliked  %}
                    <button class=" btn btn-outline-light" style="width: 100%;">
                        <p class="text-muted p-0 m-0">
                            <img src="{% static 'blog/media/icon-like-blue.png' %}"
                                class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                                alt="not fond">
                            <!-- {{pi.likes_count}} -->
                        </p>
                    </button>
                    {% else %}
                    <button id="inactivebtn_{{pi.id}}" class=" btn btn-outline-light" style="width: 100%;"
                        onclick="like_post({{pi.id}})">
                        <p class="text-muted p-0 m-0">
                            <img src="{% static 'blog/media/icon-like-gray.png' %}"
                                class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                                alt="not fond" id="likeicon_{{pi.id}}">
                            <!-- {{pi.likes_count}} -->
                        </p>
                    </button>
                    {% endif %}

                    </button>
                </div>
                <div class="col-6">
                    <button class=" btn btn-outline-light" style="width: 100%;" onclick="CommentBy({{pi.id}})">
                        <p class="text-muted p-0 m-0">
                            <img src="{% static 'blog/media/icon-comment.png' %}"
                                class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                                alt="not fond">

                            <!-- {{pi.comments_count}} -->
                        </p>

                    </button>
                </div>

            </div>
        </div>
        <br>
        <div class="row text-left">
            <div class="col-9 m-0">
                <input class="form-control mr-sm-2" type="text" id="newcomment_{{pi.id}}" placeholder="Add Comment">
                <small id="commentHelpId_{{pi.id}}" class="form-text" style="color: #ad3535;"></small>

            </div>
            <div class="col-3 m-0 p-0">
                <button id="{{pi.id}}" class="btn btn-outline-primary" onclick="savecomment(this)">Comment</button>
            </div>
        </div>
        <div class="container" id="showcomments_{{pi.id}}">
        </div>
    </div>
</article>
{% endfor %}
{% else %}
<div style="text-align-last: center;">
    <h4 style="color: 0373e36e !important;"> No post yet write a post </h4>

</div>
{% endif %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<!-- Button trigger modal -->


<!-- Modal -->

<script>
    $(function () {
        $('#notes').on('keyup paste', function () {
            var $el = $(this),
                offset = $el.innerHeight() - $el.height();

            if ($el.innerHeight() < this.scrollHeight) {
                // Grow the field if scroll height is smaller
                $el.height(this.scrollHeight - offset);
            } else {
                // Shrink the field and then re-set it to the scroll height in case it needs to shrink
                $el.height(1);
                $el.height(this.scrollHeight - offset);
            }
        });
    });
</script>
{% endblock base2 %}