{% extends 'blog/base2.html' %}
{% block base2 %}
{% load static %}
<!-- <style>
    .profile {
        background-image: url("{% static 'blog/media/pc.jpg' %}");
    }
</style> -->
<div class="content-section ">
    <div class="media profile" style=" ">
        {% if userprofile_data.image %}
        <img class="rounded-circle account-img " src="{{ userprofile_data.image.url }}">
        {% else %}
        <img class="rounded-circle account-img " src="{% static 'blog/media/pc.jpg' %}">
        {% endif %}

        {% comment %} {{connected}}f{{friendarr}}m{{myrequestarr}} {% endcomment %}
        <div class="media-body" style="height: 130px">


            <h2 class="account-heading mt-5 pt-4">{{ userprofile_data.name }}</h2>
            <!-- <p class="text-secondary">{{  userprofile_data.mobile_no}}</p><br> -->

            <!-- <legend class="border-bottom">
        <h3 class="account-heading" style="">{{ userprofile_data.name }}</h3>
    </legend> -->
        </div>
    </div>
    <div class=" text-right" style="width: 100%;">
        {% if request.session.userid == userprofile_data.id %}
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modelId2"
            onclick="crearimage()">
            Edit Profile
        </button>
        {% endif %}

        {% if request.session.userid != userprofile_data.id %}

        {% if userprofile_data.id in connected %}
        {% if userprofile_data.id in friendarr %}
        {% comment %} {{ item.id}} {% endcomment %}
        <a href="" class="btn btn-outline-primary" onclick="unfriend({{userprofile_data.id}})">Unfriend</a>
        {% else %}
        {% if userprofile_data.id in myrequestarr %}
        {% comment %} {{ item.id}} {% endcomment %}
        <a href="" class="btn btn-outline-primary" onclick="cancel_req({{userprofile_data.id}})">Cancel Request</a>
        {% else %}
        {% comment %} {{ item.id}} {% endcomment %}
        <div class="form-group">
            <a href="" class="btn btn-outline-primary" onclick="accepted({{userprofile_data.id}})">Accept</a>
            <a href="" class="btn btn-outline-warning" onclick="reject({{userprofile_data.id}})">Reject</a>
        </div>
        {% endif %}
        {% endif %}
        {% else %}
        {% comment %} {{ item.id}} {% endcomment %}
        <a href="" class="btn btn-outline-primary" onclick="addfriend({{userprofile_data.id}})">Add Friend</a>
        {% endif %}
        {% endif %}
    </div>

</div>
<div class="row m-2">
    {% if friendlist %}
    <div class=" col-sm-12  m-0 ">
        <div>
            Frineds
        </div>
        <div class="row pl-2 ">


            {% for item  in friendlist  %}
            <div class="col-sm-2 m-0 p-2 ">
                <a href="{% url 'blog-userprofile' item.name item.id  %}">
                    <div class="card text-left">
                        <img class="card-img-top" src="{{ item.image.url}}" alt="" style="height: 100px;">
                        <div class="card-body p-0 m-0 pl-1 text-center">
                            <strong class="card-title ">{{item.name}}</strong>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% if hide %}
            <div class="col-sm-4 m-0 p-1 " style="background: transparent;">
                <a href="{% url 'blog-friendlist' userprofile_data.id %}">
                    <div class="pt-5 text-left" style="height: 100px;" style="background: transparent;">
                        <strong class="card-title pt-5 mt-5">Show more</strong>
                    </div>
            </div>
            </a>
            {% endif %}
        </div>

    </div>
    {% endif %}
    {% if imagelist %}

    <div class=" col-sm-0 m-0 ">
        <div>
            Images
        </div>
        <div class="row pl-2">

            {% for item  in imagelist  %}
            <div class="col-sm-4 m-0 p-2 ">
                <a href="{% url 'blog-userprofile' item.name item.id  %}">
                    <div class="card text-left">
                        <img class="card-img-top" src="{{ item.image.url}}" alt="" style="height: 100px;">
                        <div class="card-body p-0 m-0 pl-1 text-center">
                            <strong class="card-title ">{{item.name}}</strong>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% if imagelistcount ==  1%}
            <div class="col-sm-4 m-0 p-1 " style="background: transparent;">
                <a href="{% url 'blog-friendlist' userprofile_data.id %}">
                    <div class="pt-5 text-left" style="height: 100px;" style="background: transparent;">
                        <strong class="card-title pt-5 mt-5">Show more</strong>
                    </div>
            </div>
            </a>
            {% endif %}
        </div>
    </div>
    {% endif %}

</div>



<div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'blog-upadteprofile' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">

                        <input type="file" name="profile_pic" id="profile_pic">
                        <button class="btn btn-outline-primary" type="submit" onclick="saveimages()">Update</button>
                    </fieldset>
                </form>

            </div>
            <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div> -->
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



<script>
    function saveimages() {
        formdata = new FormData();
        var file = $("#profile_pic").files[0];
        if (formdata) {
            formdata.append("image", file);
            $.ajax({
                type: "POST",
                url: "{% url 'blog-upadteprofile' %}",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (data) {
                    alert(data);
                    $("#mainbody").html(data);

                }
            });
        }
    }


    function con_request(id) {
        // alert(id);
        $.ajax({
            type: 'GET',
            url: "{% url 'blog-con_request' %}",
            data: { 'requested_to': id },
            success: function (data) {
                iziToast.success({
                    // title: 'Caution',
                    position: 'topRight',
                    message: data,
                });
            }
        });
    }
    function crearimage() {
        $("#profile_pic").val("");
    }
</script>

{% if request.session.userid == userprofile_data.id %}
<article class="media content-section mt-5">
    <div class="media-body">
        <div class=" row">
            <div class="col-sm-1">
                <img class="rounded-circle account-img" src="{{ profile_data.image.url }}"
                    style="width: 60px;height: 60px;">
            </div>
            <div class="col-sm-10 pt-3 ml-4">
                <textarea name="notes" id="notes" cols="" rows="1"
                    placeholder="What's on your mind , {{ request.session.name }}?"
                    style="border: none;font-size:1.2rem;width:100%"></textarea>
                <div style="width:100%" class="">
                    <button id="postbtn" type="button " class="btn btn-outline-primary text-left p-0 pl-5 pr-5"
                        value="POST" onclick="PostBlog()" style=" display:none;">
                        POST</button>
                    <button id="clearpostbtn" type="button " class="btn btn-outline-light p-0 pl-5 pr-5"
                        onclick="clearpost()"
                        style=" display:none; color:#29487d ;border:solid lightgray 2px">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</article>
{% endif %}



{% if feeds  %}
{% for pi in feeds  %}
<article class="media content-section">
    <div class="media-body">
        <div class="">
            <div class="media">
                {% if pi.posted_by.image %}
                <img class="rounded-circle account-img" src="{{ pi.posted_by.image.url }}"
                    style="width: 60px;height: 60px;">
                {% else %}
                <img class="rounded-circle account-img" src="{% static 'blog/media/pc.jpg' %}"
                    style="width:60px;height:60px;">
                {% endif %}
                <div class="media-body">
                    <a class="mr-5" href="{% url 'blog-userprofile' pi.posted_by.name pi.posted_by.id %}"
                        style="font-size: 1.7rem;" onclick="userprofile({{pi.posted_by.id}})">
                        {{ pi.posted_by.name}}
                    </a><br>
                    <small class="text-muted">{{ pi.posted_on|date:"F d, Y" }}</small>
                </div>
            </div>
        </div>
        <p class="article-content ml-5 mb-2">{{ pi.text }}</p>

        <div class="container mt-0 pt-0">
            <div class=" row text-muted mt-0 pt-0">
                <div class="col-sm-6 text-left text-muted mt-0 pt-0">
                    {% if pi.likes_count != 0 %}
                    <button type="button" class="btn mr-0 pr-0" data-toggle="modal" data-target="#modelId"
                        onclick="likedby({{pi.id}})" style="font-size:10px;">
                        {{pi.likes_count}}
                        {% if pi.likes_count > 1 %}
                        Likes
                        {% else %}
                        Like
                        {% endif %}
                    </button>
                    {% endif %}

                    {% if pi.comments_count != 0 %}
                    <button class="btn ml-0 pl-0" href="#" style="font-size:10px;" onclick="CommentBy({{pi.id}})">
                        , {{pi.comments_count}}
                        {% if pi.comments_count > 1%}
                        Comments
                        {% else %}
                        Comment
                        {% endif %}
                    </button>
                    {% endif %}
                </div>
                <!-- <div class="col-sm-6 text-right">
                    <button class="btn" href="#" style="font-size:10px;"
                        onclick="CommentBy({{pi.id}})">{{pi.comments_count}} Comment</button>
                </div> -->
            </div>
            <div class=" row text-center">
                <div class="col-sm-6">
                    {% if pi.id in listliked  %}
                    <button class=" btn btn-outline-light" style="width: 100%;">
                        <p class="text-muted p-0 m-0">
                            <img src="{% static 'blog/media/icon-like-blue.png' %}"
                                class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                                alt="not fond">
                            <!-- {{pi.likes_count}} -->
                        </p>
                    </button>
                    {% else %}
                    <button class=" btn btn-outline-light" style="width: 100%;" onclick="like_post({{pi.id}})">
                        <p class="text-muted p-0 m-0">
                            <img src="{% static 'blog/media/icon-like-gray.png' %}"
                                class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                                alt="not fond">
                            <!-- {{pi.likes_count}} -->
                        </p>
                    </button>
                    {% endif %}

                    </button>
                </div>
                <div class="col-sm-6">
                    <button class=" btn btn-outline-light" style="width: 100%;" onclick="CommentBy({{pi.id}})">
                        <p class="text-muted p-0 m-0">
                            <img src="{% static 'blog/media/icon-comment.png' %}"
                                class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                                alt="not fond">

                            <!-- {{pi.comments_count}} -->
                        </p>

                    </button>
                </div>

            </div>
        </div>
        <br>
        <input class="form-control mr-sm-2" type="text" id="newcomment_{{pi.id}}" placeholder="Add Comment"
            style="width:80%; display: inline-block;">
        <button id="{{pi.id}}" class="btn btn-outline-primary my-2 my-sm-0" onclick="savecomment(this)">Comment</button>
        <small id="commentHelpId" class="form-text   " style="color: #ad3535;"></small>
        <div class="container" id="showcomments_{{pi.id}}">
        </div>
    </div>
</article>
{% endfor %}
{% else %}
{% if request.session.userid == userprofile_data.id %}

<div style="text-align-last: center;">
    <h4 style="color: 0373e36e !important;"> No post yet write a post </h4>

</div>
{% endif %}
{% endif %}













{% endblock base2 %}