{% extends 'blog/base2.html' %}
{% block base2 %}
{% load static %}

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="{{ userprofile_data.coverpicture.url }}"
            alt="Profile image example" />
        <img align="left" class="fb-image-profile thumbnail" src="{{ userprofile_data.image.url }}" alt="Profile image"
            style="border:solid lightgray 2px;border-redius:5px;" />
        <div class="fb-profile-text text-left ">
            <strong class="text-left" style="font-size: 1.7rem; margin-right:25%">{{ userprofile_data.name }}</strong>
            <div class="text-right">
                {% if request.session.userid == userprofile_data.id %}
                <button type="button" class="btn btn-primary p-1 pl-2 pr-2" data-toggle="modal" data-target="#modelId2"
                    onclick="crearimage()">
                    Edit Profile
                </button>
                {% endif %}

                {% if request.session.userid != userprofile_data.id %}

                {% if userprofile_data.id in connected %}
                {% if userprofile_data.id in friendarr %}
                {% comment %} {{ item.id}} {% endcomment %}
                <a href="" class="btn btn-outline-primary  p-1 pl-2 pr-2"
                    onclick="unfriend({{userprofile_data.id}})">Unfriend</a>
                {% else %}
                {% if userprofile_data.id in myrequestarr %}
                {% comment %} {{ item.id}} {% endcomment %}
                <a href="" class="btn btn-outline-primary  p-1 pl-2 pr-2"
                    onclick="cancel_req({{userprofile_data.id}})">Cancel
                    Request</a>
                {% else %}
                {% comment %} {{ item.id}} {% endcomment %}
                <div class="form-group">
                    <a href="" class="btn btn-outline-primary  p-1 pl-2 pr-2"
                        onclick="accepted({{userprofile_data.id}})">Accept</a>
                    <a href="" class="btn btn-outline-warning  p-1 pl-2 pr-2"
                        onclick="reject({{userprofile_data.id}})">Reject</a>
                </div>
                {% endif %}
                {% endif %}
                {% else %}
                {% comment %} {{ item.id}} {% endcomment %}
                <a href="" class="btn btn-outline-primary  p-1 pl-2 pr-2"
                    onclick="addfriend({{userprofile_data.id}})">Add Friend</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div><br>
<!-- </div> -->
<div class="row">
    {% if friendlist %}
    <div class=" col-12  m-0 ">
        <div>
            Friends
        </div>
        <div class="row pl-2 ">

            {% for item  in friendlist  %}
            <div class="col-2 m-0 p-2 text center ">
                <a href="{% url 'blog-userprofile' item.name item.id  %}">
                    <div class="card text-center">
                        <img class="card-img-top" src="{{ item.image.url}}" alt=""
                            style="height: 70px;width:90%; margin-left:5%; margin-top:5%">
                        <div class="card-body p-0 m-0 pl-1 text-center">
                            <strong class="card-title ">{{item.name}}</strong>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% if hide %}
            <div class="col-4 m-0 p-1 " style="background: transparent;">
                <a href="{% url 'blog-friendlist' userprofile_data.id %}">
                    <div class="pt-5 text-left" style="height: 80px;" style="background: transparent;">
                        <strong class="card-title pt-5 mt-5">Show more</strong>
                    </div>
            </div>
            </a>
            {% endif %}
        </div>

    </div>
    {% endif %}
    {% if imagelist %}

    <div class=" col-0 m-0 ">
        <div>
            Images
        </div>
        <div class="row pl-2">

            {% for item  in imagelist  %}
            <div class="col-4 m-0 p-2 ">
                <a href="{% url 'blog-userprofile' item.name item.id  %}">
                    <div class="card text-left">
                        <img class="card-img-top" src="{{ item.image.url}}" alt="" style="height: 100px;">
                        <div class="card-body p-0 m-0 pl-1 text-center">
                            <strong class="card-title ">{{item.name}}</strong>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% if imagelistcount ==  1%}
            <div class="col-4 m-0 p-1 " style="background: transparent;">
                <a href="{% url 'blog-friendlist' userprofile_data.id %}">
                    <div class="pt-5 text-left" style="height: 100px;" style="background: transparent;">
                        <strong class="card-title pt-5 mt-5">Show more</strong>
                    </div>
            </div>
            </a>
            {% endif %}
        </div>
    </div>
    {% endif %}

</div>



<div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'blog-upadteprofile' %}" method="POST" enctype="multipart/form-data"
                    onsubmit="return validateimage_form()" name="imageform">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelpId"
                            placeholder="Enter your name" value="{{ request.session.name }}">
                        <small id="nameHelpId" class="form-text" style="color: #ad3535;"></small>
                        <input type="file" name="profile_pic" id="profile_pic" class="btn btn-primary profile_pic"
                            onchange="readURL(this)" hidden>
                        <label for="profile_pic" class="btn btn-primary">Upload Profile Picture</label>
                        <img id="blah" src="#" alt=" " class="p-0 ml-5" />
                        <button class="btn btn-outline-light p-0 pl-1 pr-1" type="button"
                            style=" color:#29487d ;border:solid lightgray 2px;display:none;" id="deleteimagefeed"
                            onclick="resetFile2()">Delete</button><br>

                        <input type="file" name="cover_image" id="cover_image" class="btn btn-primary profile_pic"
                            hidden>
                        <label for="cover_image" class="btn btn-primary">Upload Cover Picture</label><br>


                        <button class="btn btn-outline-primary" type="submit">Update</button>

                        <small id="ProfileHelpId" class="form-text" style="color: #ad3535;"></small>

                    </fieldset>
                </form>

            </div>
            <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div> -->
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



<script>
    function saveimages() {
        formdata = new FormData();
        var file = $("#profile_pic").files[0];
        if (formdata) {
            formdata.append("image", file);
            $.ajax({
                type: "POST",
                url: "{% url 'blog-upadteprofile' %}",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (data) {
                    alert(data);
                    $("#mainbody").html(data);

                }
            });
        }
    }
    function validateimage_form() {

        var image = document.forms["imageform"]["profile_pic"].value;
        var name = document.forms["imageform"]["name"].value;
        if ((image == null ||
            image == undefined ||
            image.length == 0) && (name == null || name == "" || name == undefined || name.length == 0)) {
            $("#ProfileHelpId").text("Please Select Profile Picture to Upload")
            return false;
        }
    }


    function con_request(id) {
        // alert(id);
        $.ajax({
            type: 'GET',
            url: "{% url 'blog-con_request' %}",
            data: { 'requested_to': id },
            success: function (data) {
                iziToast.success({
                    // title: 'Caution',
                    position: 'topRight',
                    message: data,
                });
            }
        });
    }
    function crearimage() {
        $("#profile_pic").val("");
    }
</script>

{% if request.session.userid == userprofile_data.id %}
<article class="media content-section ">
    <div class="media-body">
        <div class=" row">
            <div class="col-1">
                <img class="rounded-circle account-img" src="{{ profile_data.image.url }}"
                    style="width: 60px;height: 60px;">
            </div>
            <div class="col-10 pt-3 ml-4">
                <form action="{% url 'blog-Save_notes' %}" method="POST" onsubmit="return postfeed()"
                    enctype="multipart/form-data" name=feed_form>
                    {% csrf_token %}
                    <textarea name="notes" id="notes" cols="" rows="1"
                        placeholder="What's on your mind , {{ request.session.name }}?"
                        style="border: none;font-size:1.2rem;width:100%"></textarea>

                    <fieldset class="form-group" id="feeds_image" style="display: none;">
                        <input type="file" class="feed_images" name="feed_image" id="feed_image" style="display: none;"
                            class="file btn btn-lg btn-outline-primary " style="width: 100%;" onchange="readURL(this);"
                            hidden>
                        <label for="feed_image" class="btn btn-primary p-0 pl-3 pr-3 mt-1">
                            Photo
                        </label>
                        <img id="blah" src="#" alt=" " class="p-0 ml-5" />
                        <button class="btn btn-outline-light p-0 pl-1 pr-1"
                            style=" color:#29487d ;border:solid lightgray 2px;display:none;" id="deleteimagefeed"
                            onclick="resetFile()">Delete</button>
                        <!-- <button class="btn btn-outline-primary" type="submit" onclick="saveimages()">Update</button> -->
                    </fieldset>
                    <div style="width:100%" class="">
                        <button id="postbtn" type="submit " class="btn btn-primary text-left p-0 pl-5 pr-5"
                            style=" display:none;">
                            POST</button>
                        <!-- <button id="postbtn" type="button " class="btn btn-outline-primary text-left p-0 pl-5 pr-5"
                                onclick="PostBlog()" style=" display:none;">
                                POST</button> -->
                        <button id="clearpostbtn" type="button " class="btn btn-outline-light p-0 pl-5 pr-5"
                            onclick="clearpost()"
                            style=" display:none; color:#29487d ;border:solid lightgray 2px">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>
{% endif %}



{% if feeds  %}
{% for pi in feeds  %}
<article class="media content-section">
    <div class="media-body">
        <div class="">
            <div class="media">
                {% if pi.posted_by.image %}
                <img class="rounded-circle mr-2" src="{{ pi.posted_by.image.url }}" style="width: 30px;height: 30px;">
                {% else %}
                <img class="rounded-circle account-img" src="{% static 'blog/media/pc.jpg' %}"
                    style="width:40px;height:40px;">
                {% endif %}
                <div class="media-body mt-1">
                    <a class="mr-2 mb-0 pb-0" href="{% url 'blog-userprofile' pi.posted_by.name pi.posted_by.id %}"
                        style="font-size: 1rem;">
                        {{ pi.posted_by.name}}
                    </a>
                    {% if pi.posted_on.date == today.date %}
                    <span class="text-muted mt-0 pt-0" style="font-size:0.6rem">{{ pi.posted_on|date:"P" }}</span>
                    {% else %}
                    <span class="text-muted mt-0 pt-0" style="font-size:0.6rem">{{ pi.posted_on|date:"j M, Y" }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <p class="article-content ml-5 mb-2">{{ pi.text }}</p>
        {% if pi.image %}
        <div class="mb-1">
            <img src="{{ pi.image.url }}" alt="" style="width: 100%;">

        </div>
        {% endif %}

        <div class="container mt-0 pt-0">
            <div class=" row text-muted mt-0 pt-0">
                <div class="col-sm-6 text-left text-muted mt-0 pt-0">
                    <button type="button" class="btn mr-0 pr-0" data-toggle="modal" data-target="#modelId2"
                        onclick="likedby({{pi.id}})" style="font-size:10px;">
                        <span id="likecount_{{pi.id}}">
                            {% if pi.likes_count != 0 %}

                            {{pi.likes_count}}

                        </span>

                        {% if pi.likes_count > 1 %}
                        Likes
                        {% else %}
                        Like
                        {% endif %}
                        {% endif %}

                    </button>


                    <button class="btn ml-0 pl-0" href="#" style="font-size:10px;" onclick="CommentBy({{pi.id}})">
                        <span id="commentcount_{{pi.id}}">
                            {% if pi.comments_count != 0 %}
                            {{pi.comments_count}}
                        </span>
                        {% if pi.comments_count > 1%}
                        Comments
                        {% else %}
                        Comment
                        {% endif %}
                        {% endif %}

                    </button>
                </div>
                <!-- <div class="col-sm-6 text-right">
                    <button class="btn" href="#" style="font-size:10px;"
                        onclick="CommentBy({{pi.id}})">{{pi.comments_count}} Comment</button>
                </div> -->
            </div>
            <div class=" row text-center">
                <div class="col-6" id="">
                    {% if pi.id in listliked  %}
                    <button class=" btn btn-outline-light" style="width: 100%;">
                        <p class="text-muted p-0 m-0">
                            <img src="{% static 'blog/media/icon-like-blue.png' %}"
                                class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                                alt="not fond">
                            <!-- {{pi.likes_count}} -->
                        </p>
                    </button>
                    {% else %}
                    <button id="inactivebtn_{{pi.id}}" class=" btn btn-outline-light" style="width: 100%;"
                        onclick="like_post({{pi.id}})">
                        <p class="text-muted p-0 m-0">
                            <img src="{% static 'blog/media/icon-like-gray.png' %}"
                                class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                                alt="not fond" id="likeicon_{{pi.id}}">
                            <!-- {{pi.likes_count}} -->
                        </p>
                    </button>
                    {% endif %}

                    </button>
                </div>
                <div class="col-6">
                    <button class=" btn btn-outline-light" style="width: 100%;" onclick="CommentBy({{pi.id}})">
                        <p class="text-muted p-0 m-0">
                            <img src="{% static 'blog/media/icon-comment.png' %}"
                                class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                                alt="not fond">

                            <!-- {{pi.comments_count}} -->
                        </p>

                    </button>
                </div>

            </div>
        </div>
        <br>
        <div class="row text-left">
            <div class="col-9 m-0">
                <input class="form-control mr-sm-2" type="text" id="newcomment_{{pi.id}}" placeholder="Add Comment">
                <small id="commentHelpId_{{pi.id}}" class="form-text" style="color: #ad3535;"></small>

            </div>
            <div class="col-3 m-0 p-0">
                <button id="{{pi.id}}" class="btn btn-outline-primary" onclick="savecomment(this)">Comment</button>
            </div>
        </div>
        <div class="container" id="showcomments_{{pi.id}}">
        </div>
    </div>
</article>
{% endfor %}
{% else %}
{% if request.session.userid == userprofile_data.id %}

<div style="text-align-last: center;">
    <h4 style="color: 0373e36e !important;"> No post yet write a post </h4>

</div>
{% endif %}
{% endif %}













{% endblock base2 %}