{% extends 'blog/base2.html' %}
{% block base2 %}
{% load static %}
<!-- <style>
    .profile {
        background-image: url("{% static 'blog/media/pc.jpg' %}");
    }
</style> -->
<div class="content-section ">
    <div class="media profile" style=" ">
        {% if userprofile_data.image %}
        <img class="rounded-circle account-img " src="{{ userprofile_data.image.url }}">
        {% else %}
        <img class="rounded-circle account-img " src="{% static 'blog/media/pc.jpg' %}">
        {% endif %}

        {% comment %} {{connected}}f{{friendarr}}m{{myrequestarr}} {% endcomment %}
        <div class="media-body" style="height: 130px">


            <h2 class="account-heading mt-5 pt-4">{{ userprofile_data.name }}</h2>
            <!-- <p class="text-secondary">{{  userprofile_data.mobile_no}}</p><br> -->

            <!-- <legend class="border-bottom">
        <h3 class="account-heading" style="">{{ userprofile_data.name }}</h3>
    </legend> -->
        </div>
    </div>
    <div class=" text-right" style="width: 100%;">
        {% if request.session.userid == userprofile_data.id %}
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modelId"
            onclick="crearimage()">
            Edit Profile
        </button>
        {% endif %}

        {% if request.session.userid != userprofile_data.id %}

        {% if userprofile_data.id in connected %}
        {% if userprofile_data.id in friendarr %}
        {% comment %} {{ item.id}} {% endcomment %}
        <a href="" class="btn btn-outline-primary" onclick="unfriend({{userprofile_data.id}})">Unfriend</a>
        {% else %}
        {% if userprofile_data.id in myrequestarr %}
        {% comment %} {{ item.id}} {% endcomment %}
        <a href="" class="btn btn-outline-primary" onclick="cancel_req({{userprofile_data.id}})">Cancel Request</a>
        {% else %}
        {% comment %} {{ item.id}} {% endcomment %}
        <div class="form-group">
            <a href="" class="btn btn-outline-primary" onclick="accepted({{userprofile_data.id}})">Accept</a>
            <a href="" class="btn btn-outline-warning" onclick="reject({{userprofile_data.id}})">Reject</a>
        </div>
        {% endif %}
        {% endif %}
        {% else %}
        {% comment %} {{ item.id}} {% endcomment %}
        <a href="" class="btn btn-outline-primary" onclick="addfriend({{userprofile_data.id}})">Add Friend</a>
        {% endif %}
        {% endif %}
    </div>

</div>
<div class="row">
    {% if friendlist %}
    {% for item  in friendlist  %}
    <div class=" col-sm-2">
        <div class="card" style="background: transparent; border:none">
            <img class="card-img-top" data-src="holder.js/100x180/?text=Image cap" alt="">
            <div class="card-body p-0" style="background: transparent;">
                <a href="{% url 'blog-userprofile' item.name item.id  %}">
                    <div class="card text-left" style="background: transparent; border:none">
                        {% if item.image %}
                        <img class="rounded-circle " src="{{ item.image.url }}" alt="" style="width:92px;"
                            height="92px;">
                        {% else %}
                        <img class="card-img-top" src="{% static 'blog/media/pc.jpg' %}" alt="">
                        {% endif %}
                        <div class="card-body p-0 text-center">
                            <p class="card-text">{{item.name}}</p>
                        </div>
                    </div>

                </a>
            </div>
            </ul>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if hide %}
    <div class=" col-sm-2">
        <div class="card" style="background: transparent; border:none">
            <div class="card-body p-0" style="background: transparent;">
                <a href="{% url 'blog-friendlist' userprofile_data.id  %}">
                    <div class=" card text-left" style="background: transparent; border:none;">
                        <p style=" margin-top:40px;"> Show more</p>
                    </div>
                </a>
            </div>
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'blog-upadteprofile' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">

                            <input type="file" name="profile_pic" id="profile_pic">
                            <button class="btn btn-outline-info" type="submit" onclick="saveimages()">Update</button>
                        </fieldset>
                    </form>

                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div> -->
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



    <script>
        function saveimages() {
            alert();
            formdata = new FormData();
            var file = $("#profile_pic").files[0];
            if (formdata) {
                formdata.append("image", file);
                $.ajax({
                    type: "POST",
                    url: "{% url 'blog-upadteprofile' %}",
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        alert(data);
                        $("#mainbody").html(data);

                    }
                });
            }
        }


        function con_request(id) {
            // alert(id);
            $.ajax({
                type: 'GET',
                url: "{% url 'blog-con_request' %}",
                data: { 'requested_to': id },
                success: function (data) {
                    iziToast.success({
                        // title: 'Caution',
                        message: data,
                    });
                }
            });
        }
        function crearimage() {
            $("#profile_pic").val("");
        }
    </script>
</div>
{% endblock base2 %}